.tree-view header {
  display: flex;
  column-gap: var(--half-size);
}

.tree-view menu {
  display: contents;
  list-style: none;
}

.tree-view .grid-table {
  display: table;
  border: var(--b2);
  flex: 1;
}

.tree-view [role="row"] {
  display: table-row;
}

.tree-view [role='columnheader'],.tree-view [role='cell'] {
  display: table-cell;
}

.tree-view [role='columnheader'] button {
  width: 100%;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: var(--size);
}